*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    margin:0;
    scroll-behavior: smooth;
    scroll-padding-top: 130px;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(68, 67, 67);
}

.load{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1003;
    background-color: rgb(68, 67, 67);;
}

.load > img{
    height: 150px;
    width: 150px;
}

.load .cover{
    background-color: rgb(68, 67, 67);
    position: relative;
    position: absolute;
    z-index: 1004;
    height: 200px;
    width: 200px;
    /* background-color: rgb(156, 81, 81); */
    animation: moveRight 3s;
    animation-fill-mode: forwards;
}

@keyframes moveRight {
    0%{
        left: 45%;
    }
    100%  {
        left: 60%;
    }
}

.web-content-layout{
    flex: 1 0 auto;
    flex-wrap: wrap;
}

footer{
    flex-shrink: 0;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(7, 7, 7);
    font-size: 12px;
}

.footer-copyR{
    color: white;
    margin-top: 1rem;
}

.footer-disc{
    color: slategray;
    font-style: italic;
    margin-bottom: 0.5rem;
}

hr{
    max-width: 10%;
    border-width: 3px;
    border-color: white;
    margin-right: 45%;
    margin-left: 45%;
    /* margin-left: 35%!important;
    margin-right: 35%!important; */
}

a,.btn-link{
    color: rgb(15, 230, 238);
}

a,.btn-link:hover{
    color: rgb(15, 175, 238);
}

.btn-primary{
    color: black;
    background-color: rgb(15, 230, 238);
    border-color: rgb(15, 230, 238);
}

.btn-primary:hover{
    color: black;
    background-color: rgb(15, 186, 238);
    border-color: rgb(15, 186, 238);
}

.text-justify {
    text-align: justify !important;
}

.mr-auto{
  margin-right: auto !important;
}

.ml-auto{
  margin-left: auto !important;
}

.error-text{
    color: rgb(250, 148, 148)
}

.card-header{
    background-color: rgb(68, 67, 67);
}

.card-body{
    background-color: rgb(105, 102, 102);
}


/* Top Nav */
.main-top{
    display: flex;
    background-color: rgb(68, 67, 67);
}

.main-top > .Social a i{
    margin-top: 11px;
    margin-right: 10px;
    color: white;
}

.Contact a{
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size: small;
}

.Login{
    display: flex;
    color: black!important;
    font-family: 'Roboto', sans-serif;
    margin-top: .3rem;
    margin-bottom: .3rem;
    margin-right: .3rem;
}

/* Top Navar */
.bg-nav{
    background: rgba(7, 7, 7, 0.9);
}

.navbar-light .navbar-brand{
    color: rgb(15, 230, 238)!important;
    font-family: 'Share Tech', sans-serif;;
}

.navbar-light .navbar-toggler{
    color: rgb(255, 255, 255)!important;
    border-color: rgba(126, 121, 121, 0.897)!important;
}

.top-fixed{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
}

.navar-top{
    display: flex;
}

.TopMenu{
    padding: 1rem;
    color:white!important;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.TopMenu:hover{
    text-decoration: none;
    color: rgb(250, 238, 74)!important;
}

/* Carousel */
.home-top-sec{
    width: 100%;
}

.top-layer{
    position: relative;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}

.top-layer h1{
    position: absolute;
    top: 15vh;
    color: white;
    left: 15%;
    right: 15%;
    font-size: 60px;
    text-align: center;
}

.top-layer p{
    position: absolute;
    top: 40vh;
    color: white;
    left: 15%;
    right: 15%;
    font-size: 1rem;
    text-align: center;
}

.top-layer a{
    position: absolute;
    top: 20vh;
    left: 41%;
    right: 41%;
    background-color: rgb(15, 230, 238)!important;
    color: black!important;
    border-radius: 1rem!important;
    border-width: 0;
}

.top-layer a:hover{
    /* background-color: rgb(71, 235, 247)!important; */
    box-shadow: 0 0 0 .3rem rgb(2, 6, 247) !important;
}

.carousel-inner img{
    height: 86vh;
    width: 100%;
}

.services-sec{
    padding-top: 5rem;
    padding-bottom: 2rem;
    background-color: rgb(68, 67, 67);
    color: white;
}

.services-div{
    margin-bottom: 4rem;
}

.services-hd{
    margin-bottom: 4rem;
}

.services-text{
    margin-top: 2rem;
    font-size: 20px;
}

.services-img{
    border-radius: 20px;
}

.whatwedo-sec{
    padding-top: 5rem;
    padding-bottom: 2rem;
    background-color: rgb(83, 81, 81);
    color: white;
}

.whatwedo-hd{
    padding-bottom: 2rem;
}

.whatwedo-img{
    border-radius: 100%;
}

.whatwedo-item >div{
    padding: 1rem;
}

.tech-hd{
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.tech-content > div{
    padding-bottom: 3rem;
}

.tech-img{
    transition: transform .2s; /* Animation */
    border-radius: 20px;
}

.tech-img:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.overlay{
  transition: .5s ease;
  opacity:0;
  margin-top: 40px;
  font-size: 20px;
}

.col-lg-2:hover .overlay{
    opacity: 1;
}

.clients-item:hover .overlay{
    opacity: 1;
}

.clients-item > .overlay{
    margin-top: 50px;
}

.partners-sec{

    padding-top: 2rem;
    padding-bottom: 3rem;
    background-color: rgba(36, 34, 34, 0.76);
    color: white;
}

.partners-hd{
    padding-bottom: 2rem;
}

.partners-img{
    border-radius: 10%;
}

.team-sec{
    padding-top:5rem;
    padding-bottom: 4rem;
    background-color: rgb(68, 67, 67);
    color: white;
}

.team-content{
    padding-top: 3rem;
}

.team-img{
    width:300px;
    height:350px;
    border-radius: 50%;
}

.team-name{
    padding-top: 20px;
    font-size: 30px;
}
.team-title{
    font-size: 20px;
    color:rgb(196, 196, 196);
}

.about-content{
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 4rem;
    /* background-color:  rgba(118, 124, 126, 0.8); */
    /* background-image: url(../img/bg-f2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;*/
}

.vision-content{
    margin-top: 10.5rem;
    margin-right: 20px;
    margin-left: 1rem;
    padding: 2rem;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(15, 175, 238);
}

.f-content{
    padding-top: 6rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    margin-top: -4rem;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
}

.mission-content{
    margin-top: 10.5rem;
    margin-left: 20px;
    margin-right: 1rem;
    padding: 2rem;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(15, 175, 238);
}

.about-img{
    margin-top: 2rem;
    z-index: 1;
}

.contactus-sec{
    margin-top: 5rem;
    margin-bottom: 5rem;
    color:white;
}

.contactus-main-div{
    height: 100%;
}

.contactus-info{
    padding-top: 3rem;
}

.contactus-hd{
    padding-bottom: 1rem;
    color: rgb(15, 230, 238);

}

.contactus-msg{
    font-size: 20px;
}

.contactus-details{
    padding-top:1rem;
}

.contactus-details > div{
    padding-bottom: 0.5rem;
}

.contactus-details > div > i{
    height:1rem;
    font-size: 2.5em;
}

.contactus-details > div > p{
    font-size: 20px;
}

.contactus-mail{
    padding: 3rem;
    border-radius: 20px;
    background-color: rgb(119, 116, 116);
    color: white;
}

.greet-sec{
    padding-top: 5rem;
    padding-bottom: 5rem;
    /* background-color: rgb(119, 116, 116); */
    color: white;
}

.greet-icon > img{
    height: 10rem;
    width: 10rem;
}

.greet-hd > h1{
    font-size: 3rem;
}

.greet-text > p{
    font-size: 20px;
}

.clients-sec{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: rgb(119, 116, 116);
    color: white;
}

.portfolio-sec{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: rgb(119, 116, 116);
    color: white;
}

.portfolio-hr{
    max-width: 100%;
    border-width: 1px;
    border-color: white;
    margin-right: 0%;
    margin-left: 0%;
}

.portfolio-item{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sub-portfolio-sec{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: rgb(119, 116, 116);
    color: white;
}

.sub-portfolio-hd{
    font-size: 22px;
}

.sub-portfolio-blog .lead{
    font-size: 22px;
}

.sub-portfolio-blog > div > div p{
    font-size: 19px;
}

.sub-portfolio-blog > div > div > ul> li{
    font-size: 20px;
    margin-left: 30px;
}

.sub-portfolio-blog > div > div > ul > li > ul > li{
    font-size: 20px;
    margin-left: 30px;
    list-style-type: square;
}


.sub-portfolio-benefits{
    padding: 0;
    font-style: italic;
    list-style-type: none;
    list-style: square inside url(../img/li15.png);
    /* list-style-image: url(../img/li.png); */
    list-style-position: outside;
}

.sub-portfolio-benefits > li{
    font-style: italic;
    padding-left: 1px;
    margin-top: 5px;
    margin-left: 5px;
}

.sub-porfolio-carousel.sub-porfolio-carousel > div > img{
    height: 360px;
}

.sub-porfolio-carousel.sub-porfolio-carousel > div > img:hover{
    cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1050; /* Sit on top */
  /*Location of the box */
    padding: 70px 200px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content{
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}

.modal-content{
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

@media(max-width:1300px){
    .top-layer h1{
        position: absolute;
        top: 25vh;
        color: white;
        left: 15%;
        right: 15%;
        font-size: 3rem;
        text-align: center;
    }

    .top-layer p{
        position: absolute;
        top: 50vh;
        color: white;
        left: 15%;
        right: 15%;
        font-size: 1.5rem;
        text-align: center;
    }

    .top-layer a{
        position: absolute;
        top: 15vh;
        left: 40%;
        right: 40%;
    }

    .carousel-inner img{
        height: 86vh;
        width: 100%;
    }
}

@media(max-width:1100px){
    .top-layer a{
        position: absolute;
        top: 15vh;
        left: 38%;
        right: 38%;
    }
}

@media(max-width:991px){
    .vision-content{
        margin-top: 4rem;
    }

    .mission-content{
        margin-top: 3rem;
    }
}

@media(max-width:900px){
    .top-layer a{
        position: absolute;
        top: 15vh;
        left: 36%;
        right: 36%;
    }

    .vision-content{
        margin-top: 4rem;
    }

    .mission-content{
        margin-top: 3rem;
    }
}

@media(max-width:800px){
    .top-layer h1{
        position: absolute;
        top: 25vh;
        color: white;
        left: 15%;
        right: 15%;
        font-size: 3rem;
        text-align: center;
    }

    .top-layer p{
        position: absolute;
        top: 50vh;
        color: white;
        left: 15%;
        right: 15%;
        font-size: 1rem;
        text-align: center;
    }

    .top-layer a{
        position: absolute;
        top: 15vh;
        left: 34%;
        right: 34%;
    }

    .vision-content{
        margin-top: 4rem;
    }

    .mission-content{
        margin-top: 3rem;
    }
}

@media(max-width:700px){
    .top-layer h1{
        font-size: 48px;
    }

    .top-layer a{
        position: absolute;
        top: 15vh;
        left: 32%;
        right: 32%;
    }

    .vision-content{
        margin-top: 4rem;
    }

    .mission-content{
        margin-top: 3rem;
    }
}

@media(max-width:600px){
    .top-layer h1{
        font-size: 45px;
    }

    .top-layer a{
        position: absolute;
        top: 15vh;
        left: 28%;
        right: 28%;
    }

    .vision-content{
        margin-top: 4rem;
    }

    .mission-content{
        margin-top: 3rem;
    }
}

@media(max-width:560px){
    .top-layer h1{
        font-size: 40px;
    }

    .top-layer a{
        position: absolute;
        top: 15vh;
        left: 23%;
        right: 23%;
    }

    .vision-content{
        margin-top: 4rem;
    }

    .mission-content{
        margin-top: 3rem;
    }
}

@media(max-width:460px){
    .top-layer h1{
        font-size: 37px;
    }

    .top-layer a{
        position: absolute;
        top: 15vh;
        left: 20%;
        right: 20%;
    }

    .vision-content{
        margin-top: 4rem;
    }

    .mission-content{
        margin-top: 3rem;
    }

    .services-div{
        margin-bottom: 4rem;
        margin: 1rem;
        width: 70%;
    }

    .services-text{
        margin-top: 2rem;
        font-size: 18px;
    }

    .services-text > h1{
        font-size: 28px;
    }

    .services-img{
        height: 225px;
        width: 275px;
    }
}

@media(max-width:420px){
    .top-layer h1{
        position: absolute;
        top: 25vh;
        color: white;
        left: 15%;
        right: 15%;
        font-size: 30px;
        text-align: center;
    }


    .top-layer a{
        position: absolute;
        top: 15vh;
        left: 20%;
        right: 20%;
    }

    .vision-content{
        margin-top: 4rem;
    }

    .mission-content{
        margin-top: 3rem;
    }

    .services-img{
        height: 150px;
        width: 200px;
    }

    .services-text > h1{
        font-size: 26px;
    }
}

@media(max-width:360px){
    .top-layer h1{
        position: absolute;
        top: 25vh;
        color: white;
        left: 15%;
        right: 15%;
        font-size: 30px;
        text-align: center;
    }


    .top-layer a{
        position: absolute;
        top: 15vh;
        left: 20%;
        right: 20%;
    }

    .vision-content{
        margin-top: 4rem;
    }

    .mission-content{
        margin-top: 3rem;
    }
}

@media(max-width:340px){
    .top-layer h1{
        position: absolute;
        top: 25vh;
        color: white;
        left: 15%;
        right: 15%;
        font-size: 28px;
        text-align: center;
    }


    .top-layer a{
        position: absolute;
        top: 15vh;
        left: 16%;
        right: 16%;
    }

    .vision-content{
        margin-top: 4rem;
    }

    .mission-content{
        margin-top: 3rem;
    }
}

.slide-hd-animate{
    animation: zoomInDown;
    animation-duration: 2s;
}

.slide-btn-animate{
    animation: fadeInDown;
    animation-duration: 2s;
    animation-delay: 2s;
}

.login-body{
    background-image: url(../img/Login-BG4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login-card{
    margin-top: 4rem;
    color: white;
}

.login-card .card-body{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none!important;
    background-color: rgb(122, 118, 118);
}

.login-card .card-header{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: none!important;
}

.login-card label,.card-header{
    font-size: 16px;
}

.login-card .form-check-input{
    height: 16px;
    width: 16px;
}

.login-label > img{
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 135px;
    width: 360px;
}

.login-title > h4{
    margin-bottom: 2rem;
    font-weight: bold;
}
